@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
    --font-inter: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
    --color-background: #050505;
}

input,
button,
textarea,
select {
    font-family: var(--font-roboto);
}

.no-drag{
    -webkit-user-drag: none;
    user-drag: none;
}

.no-select{
    user-select: none;
}