@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
    
}

input,
button,
textarea,
select {
    font-family: var(--font-roboto);
}

.no-drag{
    -webkit-user-drag: none;
    user-drag: none;
}

.no-select{
    user-select: none;
}